$color-white:#fff;
$color-black:#000;


// COLOR VARIABLES

$color-primary-dark: #389583;
$color-primary: #5cdb94;
//$f:#2bc48a; green color from flaticon
$color-primary-light:#8de4af;


$color-secondary: #05396b;
$color-secondary-light:#99b1c9;

$color-tertiary-light:#edf5e0;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;